.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


.portfolio_content{
  background: var(--color-bg-variant);
  /* width: 30%; */
    border-radius: 2rem;
    padding: 1rem;
    transition: var(--transition);
    cursor: default;
    border: 1px solid transparent;
}

.portfolio_content:hover{
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.portfolio_image img{
    border-radius: 2rem;
   
}

.portfolio_image img:hover{
    transform: rotate(1deg);
}

.portfolio_content h4{
    font-size: 1rem;
    margin: 1rem 0 2rem;
    text-align: center;
}

.portfolio_link{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
} 



/* ====================MEDIA QUERY MD================= */

@media screen and (max-width: 1024px){
    .portfolio_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
}



/* ====================MEDIA QUERY SM================= */

@media screen and (max-width: 600px){
    .portfolio_container{
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  
}
}

